<%= form_for(@color_surface) do |f| %>
  <% if @color_surface.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@color_surface.errors.count, "error") %> prohibited this color_surface from being saved:</h2>

      <ul>
      <% @color_surface.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brief %><br />
    <%= f.text_area :brief %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.text_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
