<p id="notice"><%= notice %></p>

<p>
  <b>Brief:</b>
  <%= @color_surface.brief %>
</p>

<p>
  <b>Picture:</b>
  <%= @color_surface.picture %>
</p>


<%= link_to 'Edit', edit_color_surface_path(@color_surface) %> |
<%= link_to 'Back', color_surfaces_path %>
