<%= form_for(@main_material_brand) do |f| %>
  <% if @main_material_brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@main_material_brand.errors.count, "error") %> prohibited this main_material_brand from being saved:</h2>

      <ul>
      <% @main_material_brand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :logo_path %><br />
    <%= f.text_field :logo_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
