<div class="row">
  <div class="col-md-12">

    <% if @my_projects.size == 0 %>
        <div class="row">
          <div class="alert alert-warning" role="alert">
            <strong>注意!</strong> 目前没有工程进展，如果您已经提交预约上门测量申请，装修公司更新后会通知您。
          </div>
        </div>
    <% end %>

    <% @my_projects.each do |my_project| %>
        <div class="row">
          <h3 style="padding-left: 20px;"><%= my_project.name %></h3>

          <div class="row" id="justifiedGallery<%= my_project.id %>"  style="border: 1px solid #ddd;margin-left: 0px;">
            <% my_project.my_project_items.each do |x| %>
                <a href="<%= x.path %>" title="<%= x.description %>">
                  <img alt="<%= x.description %>" src="<%= x.path.t.url %>" />
                </a>
            <% end %>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#justifiedGallery<%= my_project.id %>').justifiedGallery({rel: 'gal0'}).on('jg.rowflush', function () {
                        $(this).find('a').colorbox({
                            maxWidth : '80%',
                            maxHeight : '80%',
                            opacity : 0.8,
                            transition : 'elastic',
                            current : ''
                        });
                    });
                });
            </script>

          </div>

        </div>
    <% end %>


    <link rel='stylesheet' href='/js/justifiedgallery/justifiedgallery.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/js/colorbox/css/colorbox.css' type='text/css' media='screen' />
    <script src='/js/justifiedgallery/justifiedgallery.js'></script>
    <script src='/js/colorbox/jquery.colorbox-min.js'></script>

    <div class="row">
      <div class="col-md-12 ">
        <%= paginate @my_projects %>
      </div>
    </div>
  </div>
</div>
<!-- End row -->

