<div class="row">
  <div class="col-md-12">
  	<% if @show_houses.size == 0 %>
        <div class="row">
          <h3 style="padding-left: 20px;">目前没有收藏过样板房，请到样板房页面收藏自己喜欢的风格</h3>
        </div>
    <% end %>
    <% @show_houses.each do |s| %>
      <div class="col-xs-6 col-md-3">
      	<a href="<%= show_house_path(s.id) %>" title="<%= s.title %>" class="thumbnail no-border">
              <% if s.show_house_pictures.size == 0 %>
                  <img src="images/temp-images/property1.jpg" class="attachment-property-thumb-image wp-post-image" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
              <% else %>
                  <img src="<%= s.show_house_pictures.first.path %>" class="attachment-property-thumb-image wp-post-image image_keep_ratio_for_big_image img-rounded" alt="<%= s.show_house_pictures.first.brief %>" title="<%= s.show_house_pictures.first.brief %>">
              <% end %>
        </a>
              <p style="text-align: center"><%= s.title %> - <%= s.style %></p>
              <p style="text-align: center"><input type="hidden" id="hidden_show_house_id" class="guiyi" value="<%= s.id %>">
              	  <% if current_user %>
              	  <a class="btn btn-info show-house-dislike" id="show-house-dislike" href="#" style="<%= (current_user.voted_up_on? s)?'':'display:none;' %>"><i class="icon-heart" style="color: red"></i>&nbsp;&nbsp;取消收藏</a>
                  <a class="btn btn-info show-house-like" id="show-house-like" href="#" style="<%= (current_user.voted_up_on? s)?'display:none;':'' %>"><i class="icon-heart"></i>&nbsp;&nbsp;收藏</a>
              <p style="text-align: center"><a class="btn btn-warning" id="order" href="<%= order_new_path(s.id) %>" ><i class="icon-shopping-cart"></i>&nbsp;&nbsp;在线预约测量</a></p>
                  <% end %>
                  
              </p>
              
      </div>

    <% end %>
    <div class="row">
      <div class="col-md-12">
        <%= paginate @show_houses %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
      $.ajaxSetup({
          headers: {
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
          }
      });
      
      $('.show-house-like').on('click',function(){
      	  var $temporary_like=$(this);
      	  var $likeid = $(this).prev().prev().val();
          $.post( "/show_houses/like/"+$likeid, function( data ) {
              $temporary_like.hide();
              $temporary_like.prev().show();
          });
      });
      
      $('.show-house-dislike').on('click',function(){
      	  var $temporary_dislike=$(this);
      	  var $dislikeid = $(this).prev().val();
          $.post( "/show_houses/unlike/"+$dislikeid, function( data ) {
              $temporary_dislike.hide();
              $temporary_dislike.next().show();
          });
      });
  });
</script>