<div class="auto">
  <div class="col-md-4">
  	<p><strong><%= @show_house.title %></strong></p>
    <div class="controls">
      <a href="<%= show_house_path(@show_house.id) %>" title="<%= @show_house.title %>" class="img-rounded">
        <% if @show_house.show_house_pictures.size == 0 %>
          <img src="images/temp-images/property1.jpg" style="max-width: 260px; max-height: 250px;">
        <% else %>
          <img src="<%= @show_house.show_house_pictures.first.path %>" style="max-width: 260px; max-height: 250px;">
        <% end %>
      </a>
      <br>
      <br>
    </div>  	

        订单创建流程简介：<br/>
  <br/>
        步骤1: 填写待装修房信息，预约上门测量 <br/>
        步骤2: 与您取得联系后安排上门测量<br/>
        步骤3: 我们的项目经理负责给您方案及报价<br/>
        步骤4: 确认订单<br/>
  <br/>
        您可以在"我的订单"中查看到状态更新
  <br/>
  <br>

  </div>
  <div class="col-md-8">
    <%= form_for(@house_fitment, url: pre_order_path, html: {class: "form-horizontal"}) do |f| %>
        <% if @house_fitment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@house_fitment.errors.count, "error") %> prohibited this house_fitment from being
                saved:</h2>
    
              <ul>
                <% @house_fitment.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
    
        <div class="form-group">
          <%= f.label :contact, class: "col-sm-4 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :contact, class: "form-control", placeholder: "联系人", value: session[:user_profile].nickname %>
          </div>
        </div>
    
        <div class="form-group">
          <%= f.label :phone, class: "col-sm-4 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :phone, class: "form-control", placeholder: "联系电话", value: session[:user_profile].mobile %>
          </div>
        </div>
    
        <div class="form-group">
          <%= f.label :email, class: "col-sm-4 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :email, class: "form-control", placeholder: "Email", value: current_user.email %>
          </div>
        </div>
    
        <div class="form-group">
          <%= f.label :address, class: "col-sm-4 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :address, class: "form-control", placeholder: "待测量房地址" %>
          </div>
        </div>
    
        <div class="form-group">
          <%= f.label :budget, class: "col-sm-4 control-label" %>
          <div class="col-sm-6">
            <%= f.radio_button :budget, '5万以内' %>5万以内
            <%= f.radio_button :budget, '5万-10万', checked: 'checked' %>5万-10万
            <%= f.radio_button :budget, '10万-15万' %>10万-15万
            <%= f.radio_button :budget, '15万以上' %>15万以上
          </div>
        </div>
    
        <div class="form-group">
          <%= f.label :house_type, class: "col-sm-4 control-label" %>
          <div class="col-sm-6">
            <%= f.radio_button :house_type, '一房' %>一房
            <%= f.radio_button :house_type, '二房', checked: 'checked' %>二房
            <%= f.radio_button :house_type, '三房' %>三房
            <%= f.radio_button :house_type, '四房' %>四房
            <%= f.radio_button :house_type, '复式' %>复式
            <%= f.radio_button :house_type, '别墅' %>别墅
          </div>
        </div>
    
        <%= f.text_field :show_house_id, type: 'hidden', id: 'show_house_id', :value =>params[:id] %>

        <div class="control-group" style="display: none">
          <%= f.label :user_id, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :user_id, value: current_user.id %>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.label :notes, class: "col-sm-4 control-label" %>
          <div class="col-sm-6">
            <%= f.text_area :notes, style: "height:100px", placeholder: "备注信息" %>
          </div>
        </div>
    
        <div class="modal-footer">
          <%= f.submit '提交测量申请', :class => 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>

<!-- End row -->

<script type="text/javascript">
    $(document).ready(function () {
        $('.pre-order-link').on('click', function () {
            var hidden_show_house_id = $(this).prev().val();
            var hidden_show_house_text = $(this).prev().prev().text();
            $('#myModal2 #show_house_id').val(hidden_show_house_id);
            $('#myModal2 #show_house_text').val(hidden_show_house_text)
        })
    });
</script>