<section class="listing-layout property-grid">

  <h3 class="title-heading">大图视图</h3>

  <div class="view-type clearfix">
    <a class="order">最新</a>
    <a class="order">人气</a>
    <a class="order">价格</a>
    <a class="list" ></a>
    <a class="grid active" ></a>
  </div>

  <div class="list-container clearfix">
    <article class="property-item clearfix">
      <figure>
        <a href="#" title="15421 Southwest 39th Terrace">
          <img src="images/temp-images/property1.jpg" class="attachment-grid-view-image wp-post-image" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
        </a>

        <figcaption> On Rent </figcaption>
      </figure>

      <h4>
        <a href="" title="15421 Southwest 39th Terrace">15421 Southwest 39th Terrace</a>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam… <a class="more-details" href="#">More Details <i class="icon-caret-right"></i></a></p>
      <span>$3,850 Per Month</span>
    </article>

    <% @show_houses.each do |show_house| %>
        <article class="property-item clearfix">
          <figure>
            <a href="#" title="700 Front Street, Key West, FL">
              <% if show_house.show_house_pictures.size == 0 %>
                  <img src="images/temp-images/property1.jpg" class="attachment-property-thumb-image wp-post-image" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
              <% else %>
                  <img src="<%= show_house.show_house_pictures.first.path %>" class="attachment-property-thumb-image wp-post-image" alt="<%= show_house.show_house_pictures.first.brief %>" title="<%= show_house.show_house_pictures.first.brief %>">
              <% end %>
            </a>

            <figcaption> On Sale  </figcaption>
          </figure>

          <h4><a href="<%= show_house_path(show_house.id) %>" title="<%= show_house.title %>"><%= show_house.title %></a></h4>

          <p><%= show_house.brief %>… </p>
          <span>￥<%= show_house.price %>元 </span>
        </article>

    <% end %>
  </div>

  <%= paginate @show_houses %>
</section>
        