<section class="listing-layout property-grid">

  <h3 class="title-heading"><%= ShowHouse.count %>间样板房</h3>

  <div class="view-type clearfix">
    <a class="order">最新</a>
    <a class="order">人气</a>
    <a class="order">价格</a>
    <a class="list"></a>
    <a class="grid active"></a>
  </div>


  <div class="row">

    <div class="col-md-12" style="height: 20px;"></div>

    <% @show_houses.each do |show_house| %>
        <div class="col-md-3">
          <div class="col-md-12 ">
            <a href="<%= show_house_path(show_house.id) %>" title="<%= show_house.title %>" class="thumbnail">
              <% if show_house.show_house_pictures.size == 0 %>
                  <img src="images/temp-images/property1.jpg" class="attachment-property-thumb-image wp-post-image" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
              <% else %>
                  <img src="<%= show_house.show_house_pictures.first.path %>" style="max-width: 224px; max-height: 149px;" class="attachment-property-thumb-image wp-post-image" alt="<%= show_house.show_house_pictures.first.brief %>" title="<%= show_house.show_house_pictures.first.brief %>">
              <% end %>
            </a>
          </div>
          <div class="col-md-12 ">
            <h4>
              <a href="<%= show_house_path(show_house.id) %>" title="<%= show_house.title %>"><%= show_house.title %></a>
            </h4>

            <p><%= h truncate(strip_tags(show_house.brief), :length => 40) %> </p>
            <span>￥<%= show_house.price %>元 </span>
          </div>
        </div>

    <% end %>
  </div>

  <%= paginate @show_houses %>
</section>
        