<section class="listing-layout">

  <h3 class="title-heading">列表视图</h3>

  <div class="view-type clearfix">
    <a class="list active" ></a>
    <a class="grid" ></a>
  </div>

  <div class="list-container clearfix">
    <div class="col-md-6 ">
      <article class="property-item clearfix">

        <h4><a href="#" title="15421 Southwest 39th Terrace">15421 Southwest 39th Terrace</a></h4>

        <figure>
          <a href="#" title="15421 Southwest 39th Terrace">
            <img src="images/temp-images/property1.jpg" class="attachment-property-thumb-image wp-post-image" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
          </a>
          
        </figure>

        <div class="detail">
          <h5 class="">舒能实业装潢<small></small></h5>
          <p>三室两厅 | 美式 | 147m<sup>2</sup> | ￥19000元</p><p>简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条...</p>

        </div>

        <div class="property-meta">
          <span><i class="icon-area"></i>2800 sq ft&nbsp;</span><span><i class="icon-bed"></i>2&nbsp;Bedrooms</span><span><i class="icon-bath"></i>3&nbsp;Bathrooms</span><span><i class="icon-garage"></i>2&nbsp;Garages</span>
        </div>

      </article>
    </div>
    <% @show_houses.each do |show_house| %>
        <div class="col-md-6 ">
          <article class="property-item clearfix">

            <h4><a href="<%= show_house_path(show_house.id) %>" title="<%= show_house.title %>"><%= show_house.title %></a></h4>

            <figure>
              <a href="<%= show_house_path(show_house.id) %>" title="<%= show_house.title %>">
                <% if show_house.show_house_pictures.size == 0 %>
                    <img src="images/temp-images/property1.jpg" class="attachment-property-thumb-image wp-post-image" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
                <% else %>
                    <img src="<%= show_house.show_house_pictures.first.path %>" class="attachment-property-thumb-image wp-post-image" alt="<%= show_house.show_house_pictures.first.brief %>" title="<%= show_house.show_house_pictures.first.brief %>">
                <% end %>
              </a>
              
            </figure>

            <div class="detail">
              <% if show_house.decorate_company.nil? %>
                  <h5 class="">舒能实业装潢
                    <small></small>
                  </h5>
              <% else %>
                  <h5 class=""><%= show_house.decorate_company.name %>
                    <small></small></h5>
              <% end %>
              <p><%=h truncate(strip_tags(show_house.brief), :length => 500) %> </p>
            </div>

            <div class="property-meta">
              <span><i class="icon-area"></i><%= show_house.area %>m<sup>2</sup></span>
              <span><i class="icon-bed"></i><%= show_house.style %></span>
              <span><i class="icon-bath"></i><%= show_house.house_type %>&nbsp;</span>
              <span><i class="icon-garage"></i>￥<%= show_house.price %>元</span>
            </div>
          </article>
        </div>
    <% end %>

  </div>

    <%= paginate @show_houses %>
</section>
     