
<div class="container contents lisitng-grid-layout">

  <div class="container page-carousel">
    <div class="row">
      <div class="col-md-12">
        <section class="brands-carousel  clearfix search-filter" >
          <h2><%= ShowHouse.count %>个样板房</h2>
          <p class="search-style">
            <span>风格</span> <a data-style="all">全部</a>
            <% ShowHouse::STYLE_TYPES.each do |s| %> <a data-style="<%= s %>"><%= s %></a>
            <% end %><br>
          </p>

          <p class="search-usage">
            <span>用途</span> <a  data-usage="all">全部</a> <br>
          </p>

          <p class="search-area">
            <span>面积</span> <a  data-area="all" >全部</a>
            <a data-area="0-30">30平米以下</a>
            <a data-area="30-60">30-60平米</a>
            <a data-area="60-90">60-90平米</a>
            <a data-area="90-120">90-120平米</a>
            <a data-area="120-140">120-140平米</a>
            <a data-area="140-1000">140平米以上</a><br>
          </p>

          <p class="search-price">
            <span>造价</span> <a  data-price="all">全部</a>
            <a data-price="0-5">5万以下</a>
            <a data-price="5-10">5-10万</a>
            <a data-price="10-15">10-15万</a>
            <a data-price="15-30">15-30万</a>
            <a data-price="30-50">30-50万</a>
            <a data-price="50-100">50-100万</a>
            <a data-price="100-1000">100万以上</a><br>
          </p>
          <script type="text/javascript">
            $(document).ready(function(){
                $('.search-filter p a').on('click',function(){$(this).siblings().removeClass('active');$(this).toggleClass('active')});
                var $style_anchor = $('.search-filter p.search-style a');
                var $usage_anchor = $('.search-filter p.search-usage a');
                var $area_anchor = $('.search-filter p.search-area a');
                var $price_anchor = $('.search-filter p.search-price a');
                $style_anchor.on('click',function(){$('#show_houses_search #style').val($(this).data('style')); $('#show_houses_search').submit();});
                $usage_anchor.on('click',function(){$('#show_houses_search #usage').val($(this).data('usage')); $('#show_houses_search').submit();});
                $area_anchor.on('click',function(){$('#show_houses_search #area').val($(this).data('area')); $('#show_houses_search').submit();});
                $price_anchor.on('click',function(){$('#show_houses_search #price').val($(this).data('price')); $('#show_houses_search').submit();});

                $style_anchor.filter(function(){return $(this).data('style')==$('#show_houses_search #style').val();}).addClass('active');
                $usage_anchor.filter(function(){return $(this).data('usage')==$('#show_houses_search #usage').val();}).addClass('active');
                $area_anchor.filter(function(){return $(this).data('area')==$('#show_houses_search #area').val();}).addClass('active');
                $price_anchor.filter(function(){return $(this).data('price')==$('#show_houses_search #price').val();}).addClass('active');

                $('.listing-layout .view-type a').not('.active').on('click',function(){$('#show_houses_search #view').val($(this).attr('class')); $('#show_houses_search').submit();});
            });
          </script>
          <%= form_tag show_houses_path, :method => 'get', :id => "show_houses_search", :style=>'display:none;' do %>
              <p>
                <%= submit_tag "Search", :name => nil %>
                <%= params[:style] %>,<%= params[:usage] %>,<%= params[:area] %>,<%= params[:price] %>,
              </p>
              <div id="products">
                <%= hidden_field_tag :style, params[:style] %>
                <%= hidden_field_tag :usage, params[:usage] %>
                <%= hidden_field_tag :area, params[:area] %>
                <%= hidden_field_tag :price, params[:price] %>
                <%= hidden_field_tag :view, params[:view] %>
              </div>
          <% end %>

        </section>


      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12 main-wrap">

      <!-- Main Content -->
      <div class="main">
        <% if params[:view]=='list' then %>
            <%= render 'list' %>
        <% else %>
            <%= render 'grid' %>
        <% end %>
      </div><!-- End Main Content -->
    </div> <!-- End span9 -->

  </div><!-- End contents row -->
</div>


