<p id="notice"><%= notice %></p>


<div class="container contents lisitng-grid-layout">

<div class="row">

<div class="span12 main-wrap">

  <!-- Main Content -->
  <div class="main">

    <section id="overview">

      <article class="property-item clearfix">
      <div class="wrap" style="margin-bottom: 0px">

        <div class="wrap clearfix">
          <h4 class="title"><%= @show_house.title %></h4>
          <h4 class="area"><%= @show_house.area %>m<sup>2</sup></h4>
          <!--
          <h4 class="lowest-price">￥ <%= @show_house.price*10000 %>元起</h4>
          -->
          <h5 class="price">
            <span class="status-label">
               <%= @show_house.house_type %>
            </span>
            <span>
               <%= @show_house.style %></small>
            </span>
          </h5>
        </div>
        <div class="wrap clearfix">
          <div class="concept"> <%= @show_house.concept.html_safe %></div>
          <div class="decorate-company">
            <%= image_tag(@show_house.decorate_company.logo_path, size: "128x128") %>
            &nbsp;&nbsp;<label><%=@show_house.decorate_company.name %></label>
            <br>
            <h4 class="lowest-price">￥ <%= @show_house.price*10000 %>元起</h4>
          </div>

        </div>

        <div class="wrap clearfix" style="margin: -16px 0px 0px 0px;">  <%# TODO: fix style %>
          <p><%=@show_house.brief.html_safe %></p>

          <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
          <div class="bdsharebuttonbox" style="display: inline-block;"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>

          <p style="text-align: right;margin-right: 16px; ">
          <span><%= @show_house.created_at.strftime("%Y-%m-%d") %> </span>
          </p>
        </div>
      </div>
    </article>
      <div id="property-detail-flexslider" class="clearfix">
        <div class="flexslider">


          <ul class="slides">
            <li data-thumb="/images/temp-images/property1.jpg">
              <a href="/images/temp-images/property1.jpg" class="swipebox">
                <img src="/images/temp-images/property1.jpg" alt="image1">
              </a>
            </li>
            <li data-thumb="/images/temp-images/property2.jpg">
              <a href="/images/temp-images/property2.jpg" class="swipebox">
                <img src="/images/temp-images/property2.jpg" alt="image2">
              </a>
            </li>
            <li data-thumb="/images/temp-images/property3.jpg">
              <a href="/images/temp-images/property3.jpg" class="swipebox">
                <img src="/images/temp-images/property3.jpg" alt="image3">
              </a>
            </li>
            <li data-thumb="/images/temp-images/property4.jpg">
              <a href="/images/temp-images/property4.jpg" class="swipebox">
                <img src="/images/temp-images/property4.jpg" alt="image4">
              </a>
            </li>
            <li data-thumb="/images/temp-images/property5.jpg">
              <a href="/images/temp-images/property5.jpg" class="swipebox">
                <img src="/images/temp-images/property5.jpg" alt="image5">
              </a>
            </li>
            <li data-thumb="/images/temp-images/property6.jpg">
              <a href="/images/temp-images/property6.jpg" class="swipebox">
                <img src="/images/temp-images/property6.jpg" alt="image5">
              </a>
            </li>
            <li data-thumb="/images/temp-images/property7.jpg">
              <a href="/images/temp-images/property7.jpg" class="swipebox">
                <img src="/images/temp-images/property7.jpg" alt="image5">
              </a>
            </li>
            <li data-thumb="/images/temp-images/property8.jpg">
              <a href="/images/temp-images/property8.jpg" class="swipebox">
                <img src="/images/temp-images/property8.jpg" alt="image5">
              </a>
            </li>

          </ul>


        </div>
      </div>

      <article class="property-item clearfix">



        <div class="property-meta clearfix" style="display: none;">
          <span><i class="icon-area"></i>概述&nbsp;</span>
          <span><i class="icon-bed"></i>施工进程</span>
          <span><i class="icon-bath"></i>装修报价</span>
          <span><i class="icon-garage"></i>装修须知</span>
          <!-- Print Icon -->
          <span class="printer-icon"><a href="javascript:window.print()">Print this page</a></span>
        </div>

        <ul class="nav nav-tabs">
          <li><a href="#show-house-overview" data-toggle="tab"><i class="icon-adjust"></i>概述&nbsp;</a></li>
          <li><a href="#show-house-progress" data-toggle="tab"><i class="icon-bell"></i>施工进程&nbsp;</a></li>
          <li><a href="#show-house-price" data-toggle="tab"><i class="icon-paper-clip"></i>装修报价&nbsp;</a></li>
          <li><a href="#show-house-need-to-know" data-toggle="tab"><i class="icon-inbox"></i>装修须知&nbsp;</a></li>
          <li style="margin-left: 53%"><a href="javascript:window.print()"><i class="icon-print"></i>打印报价单</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="show-house-overview">
            <div class="content clearfix">
              <p>
                <%= @show_house.overview.html_safe %>
              </p>
              <p><%= link_to 'Edit', edit_show_house_path(@show_house) %> |
                <%= link_to 'Back', show_houses_path %>
              </p>
            </div>
          </div>
          <div class="tab-pane" id="show-house-progress">
            <div class="content clearfix">
              <p>
                show-house-progress
              </p>
              <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
            </div>
          </div>
          <div class="tab-pane" id="show-house-price">
            <div class="content clearfix">
              <p>
                <%= @show_house.price %>万
              </p>
              <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
            </div>
          </div>
          <div class="tab-pane" id="show-house-need-to-know">
            <div class="content clearfix">
              <p>
                <%= @show_house.need_to_know.html_safe %>
              </p>
              <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
            </div>
          </div>
        </div>





      </article>
  </section>
  </div>
  </div>

</div> <!-- End span9 -->



</div><!-- End contents row -->

</div>