<p id="notice"><%= notice %></p>


<div class="container contents lisitng-grid-layout">

<div class="row">

<div class="span12 main-wrap">

  <!-- Main Content -->
  <div class="main">

    <section id="overview">

      <article class="property-item clearfix">
      <div class="wrap" style="margin-bottom: 0px">

        <div class="wrap clearfix">
          <h4 class="title"><%= @show_house.title %></h4>
          <h4 class="area"><%= @show_house.area %>m<sup>2</sup></h4>
          <h4 class="lowest-price">￥ <%= @show_house.price %>元起</h4>
          <h5 class="price">
            <span class="status-label">
               <%= @show_house.house_type %>
            </span>
            <span>
               <%= @show_house.style %></small>
            </span>
          </h5>
        </div>
        <div class="wrap clearfix">
          <div class="concept"> </div>
          <div class="decorate-company">
            <%= image_tag(@show_house.decorate_company.logo_path, size: "128x128") unless @show_house.decorate_company.nil? %>
            &nbsp;&nbsp;<label><%=@show_house.decorate_company.name unless @show_house.decorate_company.nil? %></label>
            <br>
          </div>

        </div>

        <div class="wrap clearfix" style="margin: -16px 0px 0px 0px;padding: 0px 16px;">  <%# TODO: fix style %>
          <p><%=@show_house.brief.html_safe unless @show_house.brief.nil? %></p>

          <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
          <div class="bdsharebuttonbox" style="display: inline-block;float: right;"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>

          <p>
          <span><%= @show_house.created_at.strftime("%Y-%m-%d") %> </span>
          </p>
        </div>
      </div>
    </article>
      <div id="property-detail-flexslider" class="clearfix">
        <div class="flexslider">


          <ul class="slides">
            <% if @show_house.show_house_pictures.nil? %>
                <li data-thumb="/images/temp-images/property1.jpg">
                  <a href="/images/temp-images/property1.jpg" class="swipebox">
                    <img src="/images/temp-images/property1.jpg" alt="image1">
                  </a>
                </li>
                <li data-thumb="/images/temp-images/property2.jpg">
                  <a href="/images/temp-images/property2.jpg" class="swipebox">
                    <img src="/images/temp-images/property2.jpg" alt="image2">
                  </a>
                </li>
                <li data-thumb="/images/temp-images/property3.jpg">
                  <a href="/images/temp-images/property3.jpg" class="swipebox">
                    <img src="/images/temp-images/property3.jpg" alt="image3">
                  </a>
                </li>
                <li data-thumb="/images/temp-images/property4.jpg">
                  <a href="/images/temp-images/property4.jpg" class="swipebox">
                    <img src="/images/temp-images/property4.jpg" alt="image4">
                  </a>
                </li>
                <li data-thumb="/images/temp-images/property5.jpg">
                  <a href="/images/temp-images/property5.jpg" class="swipebox">
                    <img src="/images/temp-images/property5.jpg" alt="image5">
                  </a>
                </li>
                <li data-thumb="/images/temp-images/property6.jpg">
                  <a href="/images/temp-images/property6.jpg" class="swipebox">
                    <img src="/images/temp-images/property6.jpg" alt="image5">
                  </a>
                </li>
                <li data-thumb="/images/temp-images/property7.jpg">
                  <a href="/images/temp-images/property7.jpg" class="swipebox">
                    <img src="/images/temp-images/property7.jpg" alt="image5">
                  </a>
                </li>
                <li data-thumb="/images/temp-images/property8.jpg">
                  <a href="/images/temp-images/property8.jpg" class="swipebox">
                    <img src="/images/temp-images/property8.jpg" alt="image5">
                  </a>
                </li>
            <% else %>
                <% @show_house.show_house_pictures.each do |picture| %>
                    <li data-thumb="<%= picture.path %>">
                      <a href="<%= picture.path %>" class="swipebox">
                        <img src="<%= picture.path %>" alt="<%= picture.brief %>">
                      </a>
                    </li>
                <% end %>
            <% end %>
          </ul>

        </div>
      </div>

      <article class="property-item clearfix">



        <div class="property-meta clearfix" style="display: none;">
          <span><i class="icon-area"></i>概述&nbsp;</span>
          <span><i class="icon-bed"></i>施工进程</span>
          <span><i class="icon-bath"></i>装修报价</span>
          <span><i class="icon-garage"></i>装修须知</span>
          <!-- Print Icon -->
          <span class="printer-icon"><a href="javascript:window.print()">Print this page</a></span>
        </div>

        <ul class="nav nav-tabs">
          <li><a href="#show-house-overview" data-toggle="tab"><i class="icon-adjust"></i>概述&nbsp;</a></li>
          <li><a href="#show-house-progress" data-toggle="tab"><i class="icon-bell"></i>施工进程&nbsp;</a></li>
          <li><a href="#show-house-price" data-toggle="tab"><i class="icon-paper-clip"></i>装修报价&nbsp;</a></li>
          <li><a href="#show-house-need-to-know" data-toggle="tab"><i class="icon-inbox"></i>装修须知&nbsp;</a></li>
          <li style="margin-left: 53%"><a href="javascript:window.print()"><i class="icon-print"></i>打印报价单</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="show-house-overview">
            <div class="content clearfix">
              <p><%= @show_house.style %> | <%= @show_house.usage %> </p>
              <p style="float: right;">
                <% unless @show_house.main_material_brands.nil? %>
                    <% @show_house.main_material_brands.each do |mmb| %>
                          <img src="<%= mmb.logo_path %>" alt="<%= mmb.name %>"><br>
                    <% end %>

                <% end %>
              </p>
              <p>
                <%= @show_house.overview.html_safe unless @show_house.overview.nil? %>
              </p>
            </div>
          </div>
          <div class="tab-pane" id="show-house-progress">
            <div class="content clearfix">
              <p>
                敬请期待
              </p>

            </div>
          </div>
          <div class="tab-pane" id="show-house-price">
            <div class="content clearfix">
              <p>
                敬请期待
              </p>
            </div>
          </div>
          <div class="tab-pane" id="show-house-need-to-know">
            <div class="content clearfix">
              <p>
                <%= @show_house.need_to_know.html_safe unless @show_house.need_to_know.nil? %>
              </p>

            </div>
          </div>
        </div>





      </article>
  </section>
  </div>
  </div>

</div> <!-- End span9 -->



</div><!-- End contents row -->

</div>