<p id="notice"><%= notice %></p>

<p>
  <b>Img1:</b>
  <%= @home_image_setting.img1 %>
</p>

<p>
  <b>Img2:</b>
  <%= @home_image_setting.img2 %>
</p>

<p>
  <b>Img3:</b>
  <%= @home_image_setting.img3 %>
</p>

<p>
  <b>Img4:</b>
  <%= @home_image_setting.img4 %>
</p>

<p>
  <b>Img5:</b>
  <%= @home_image_setting.img5 %>
</p>


<%= link_to 'Edit', edit_home_image_setting_path(@home_image_setting) %> |
<%= link_to 'Back', home_image_settings_path %>
