<div class="row">
  <div class="span12 info-block">


    <hr/>
    <% @decorate_schemes.each do |decorate_scheme| %>
        <div class="row">

          <div class="span3" style="padding-left: 20px;padding-bottom: 20px;">

            <% if decorate_scheme.decorate_scheme_items.size == 0 %>
                <img src="images/temp-images/property1.jpg" class="attachment-property-thumb-image wp-post-image" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
            <% else %>
                <img src="<%= decorate_scheme.decorate_scheme_items.first.path %>" class="attachment-property-thumb-image wp-post-image" alt="<%= decorate_scheme.decorate_scheme_items.first.description %>" title="<%= decorate_scheme.decorate_scheme_items.first.description %>">
            <% end %>

          </div>
          <div class="span8">
            <p><%= decorate_scheme.name %><br/></p>
          </div>

        </div>
    <% end %>
    <div class="row">
      <div class="span12 info-block">
        <%= paginate @decorate_schemes  %>
      </div>
    </div>
  </div>
</div>
<!-- End row -->

