<div id="home-flexslider" class="clearfix">
  <div class="flexslider">
    <ul class="slides">
      <%= render 'slides' %>
    </ul>
  </div>
</div><!-- End Slider -->


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main">

        <section class="property-items">

          <div class="col-md-8">
            <h3>最IN推荐</h3>

            <div class="property-items-container">
              <% @show_houses.each do |show_house| %>
                  <div class="col-md-12 ">
                    <article class="property-item">
                      <div class="col-xs-6 col-md-4">
                        <a href="<%= show_house_path(show_house.id) %>" title="<%= show_house.title %>" class="thumbnail no-border">
                          <% if show_house.show_house_pictures.size == 0 %>
                              <img src="images/temp-images/property1.jpg" class="image_keep_ratio_for_big_image img-rounded" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
                          <% else %>
                              <img src="<%= show_house.show_house_pictures.first.path.nine.url %>"  class="img-rounded" alt="<%= show_house.show_house_pictures.first.brief %>" title="<%= show_house.show_house_pictures.first.brief %>">
                          <% end %>
                        </a>
                      </div>

                      <div class="col-xs-6 col-md-8">
                        <% if show_house.decorate_company.nil? %>
                            <h5 class="">舒能实业装潢
                              <small></small>
                            </h5>
                        <% else %>
                            <h5 class=""><%= show_house.decorate_company.name %>
                              <small></small>
                            </h5>
                        <% end %>
                        <p><%= h truncate(strip_tags(show_house.brief), :length => 500) %> </p>

                      </div>

                      <div class="property-meta">
                        <span><i class="icon-area"></i><%= show_house.area %>m<sup>2</sup></span>
                        <span><i class="icon-bed"></i><%= show_house.style %></span>
                        <span><i class="icon-bath"></i><%= show_house.house_type %>&nbsp;</span>
                        <span><i class="icon-garage"></i>￥<%= show_house.price %>元</span>
                      </div>
                    </article>
                  </div>
              <% end %>

            </div>
            <!-- End .property-items-container -->


          </div>

          <div class="col-md-4">

            <h3 style="">省心装修，轻松在线搞定</h3>

            <div class="list-group">
              <a href="<%= show_houses_path %>" target="_blank" class="list-group-item">
                <h4 class="list-group-item-heading">选择样板房风格</h4>
                <p class="list-group-item-text">多种样板房图片供您参考</p>
                <img src="images/home/product-fleches.png">
              </a>
              <a href="<%= order_new_path(:id=>ShowHouse.first.id) %>" target="_blank" class="list-group-item">
                <h4 class="list-group-item-heading">免费预约测量</h4>
                <p class="list-group-item-text">在线提交测量申请</p>
                <img src="images/home/product-fleches.png">
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">免费出方案报价</h4>
                <p class="list-group-item-text">方案一口价全包，保证不增项，不加价</p>
                <img src="images/home/product-fleches.png">
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">在线选择主材包</h4>
                <p class="list-group-item-text">多种主材包可供选择，自由组合变换</p>
                <img src="images/home/product-fleches.png">
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">线下实体看主材</h4>
                <p class="list-group-item-text">实体主材供挑选，把材料看个明白，使用放心</p>
                <img src="images/home/product-fleches.png">
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">方案确定签合同</h4>
                <p class="list-group-item-text">方案全部决定后再签约，首付只需总价20%</p>
              </a>
            </div>

          </div>
          <div class="clearfix"></div>

        </section>
        <!-- End .property-items -->

      </div>
      <!-- End .main -->
    </div>
    <!-- End span12 -->
  </div>
  <!-- End .row -->
</div><!-- End .contents -->

