
  <div class="row">
    <div class="span12 info-block">

        <div class="row">
          <div class="span12" style="padding: 20px 20px;">
            <a class="btn-orange" style="display: inline-block; " href="#">预约上门测量</a> <span>目前没有方案，请预约上门测量</span>
          </div>
        </div>
      <hr/>
      <% @show_houses.each do |s| %>
      <div class="row">

        <div class="span3" style="padding-left: 20px;padding-bottom: 20px;">

          <% if s.show_house_pictures.size == 0 %>
              <img src="images/temp-images/property1.jpg" class="attachment-property-thumb-image wp-post-image" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
          <% else %>
              <img src="<%= s.show_house_pictures.first.path %>" class="attachment-property-thumb-image wp-post-image" alt="<%= s.show_house_pictures.first.brief %>" title="<%= s.show_house_pictures.first.brief %>">
          <% end %>

        </div>
        <div class="span8">
          <p><%= s.title %> - <%= s.style %><br/></p>
          <a class="btn-orange">设计</a>
          <a class="btn-green">风水</a>
          <a class="btn-darkblue">修改平面图</a>
          <a class="btn-black">复制</a>
          <a class="btn-red">删除</a>
        </div>

      </div>
      <% end %>
      <div class="row">
        <div class="span12 info-block">
            <%= paginate @show_houses  %>
        </div>
      </div>
    </div>
  </div>
  <!-- End row -->
