<!DOCTYPE html>
<html>
<head>
  <title>爱逸家</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <!-- Include the bootstrap stylesheet -->
  <link href="/css/bootstrap.css" rel="stylesheet" media="all">

  <!-- Include the Bootstrap responsive utitlities stylesheet -->
  <link href="/css/_responsive-utilities.css" rel="stylesheet" media="all">


  <!-- Include the Awesome Font stylesheet -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" media="all">

  <!-- Include the bootstrap responsive stylesheet -->
  <link href="/css/responsive.css" rel="stylesheet" media="all">

  <!-- Flexslider stylesheet -->
  <link href="/js/flexslider/flexslider.css" rel="stylesheet" media="all">

  <!-- Pretty Photo stylesheet -->
  <link href="/js/prettyphoto/prettyPhoto.css" rel="stylesheet" media="all">

  <!-- Pretty Photo stylesheet -->
  <link href="/js/swipebox/swipebox.css" rel="stylesheet" media="all">

  <!-- Include the site main stylesheet -->
  <link href="/css/main.css" rel="stylesheet" media="all">



  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>


<!-- Start Header -->
<%= render :partial => 'layouts/navbar' %>
<!-- End Header -->

<% if not (notice.nil? || alert.nil?) %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <p class="notice"><%= notice %></p>

          <p class="alert"><%= alert %></p>
        </div>
      </div>
    </div>
    <!--End notice bar -->
<% end %>



<div class="container contents lisitng-grid-layout">

  <div class="row">

    <div class="col-md-12 main-wrap">

      <!-- Main Content -->
      <div class="main">


        <div class="form-horizontal" style="margin: 0 auto; width: 400px;">
<%= yield %>
          </div>
      </div>
    </div>
  </div>
</div>


<footer id="footer-wrapper">


  <!-- Footer Bottom -->
  <div id="footer-bottom" class="container">

    <div class="row">
      <div class="col-md-12">
        <p class="copyright" style="text-align: center">Copyright © <%= DateTime.now.year %>. <%= t("iyijia.site_title") %> All Rights Reserved.</p>
      </div>
    </div>

  </div>
  <!-- End Footer Bottom -->

</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/flexslider/jquery.flexslider.js"></script>
<script src="/js/elastislide/jquery.easing.1.3.js"></script>
<script src="/js/elastislide/jquery.elastislide.js"></script>
<script src="/js/prettyphoto/jquery.prettyPhoto.js"></script>
<script src="/js/swipebox/jquery.swipebox.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.jcarousel.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.selectbox.js"></script>
<script src="/js/jquery.transit.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>
