<!DOCTYPE html>
<html>
<head>
  <title>爱逸家</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <!-- Include the bootstrap stylesheet -->
  <link href="/css/bootstrap.css" rel="stylesheet" media="all">

  <!-- Include the Awesome Font stylesheet -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" media="all">

  <!-- Flexslider stylesheet -->
  <link href="/js/flexslider/flexslider.css" rel="stylesheet" media="all">

  <!-- Pretty Photo stylesheet -->
  <link href="/js/prettyphoto/prettyPhoto.css" rel="stylesheet" media="all">

  <!-- Pretty Photo stylesheet -->
  <link href="/js/swipebox/css/swipebox.css" rel="stylesheet" media="all">


  <%= javascript_include_tag params[:controller] %>
  <%= stylesheet_link_tag  params[:controller] %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>


<!-- Start Header -->
<%= render :partial => 'layouts/navbar' %>
<!-- End Header -->

<!--Start notice bar -->
<%= render :partial => 'layouts/notice_bar' %>
<!--End notice bar -->



<div class="container" style="padding-top: 40px">


<div class="row">
  <div class="col-md-12 " style="padding-bottom: 20px;"></div>
  <div class="col-md-12 ">
    <div class="row">
      <div class="col-md-2">
        <img src="<%= session[:user_profile].avatar %>" class="img-rounded image_keep_ratio_for_avatar">

      </div>
      <div class="col-md-8">
        <h3 style="margin-top: 0px"><%= session[:user_profile].nickname %></h3>

        <p>
          <%= session[:user_profile].gender %>  | <i class="glyphicon glyphicon-map-marker">&nbsp;<%= session[:user_profile].location %></i> <br>
          <%= session[:user_profile].mobile %>     <br>
          <a class="btn-blue" href="<%= edit_user_profile_path(@user_profile) %>" style="display: none;"><i class="glyphicon glyphicon-cog"></i> 设置个人资料</a>
          <!-- Button to trigger modal -->
          <a href="#myModal" role="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-cog"></i> 设置个人资料</a>

          <!--
          <a class="btn" href="#"><i class="glyphicon glyphicon-heart"></i> 样板房收藏夹</a>
          -->
        </p>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="col-md-12 " style="padding-bottom: 20px;"></div>

</div>
<!-- End row -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
      <h4 class="modal-title" id="myModalLabel">更新用户资料</h4>
    </div>
    <div class="modal-body">
      <%= form_for(@user_profile,  html: {class: "form-horizontal",role:"form"}) do |f| %>
          <% if @user_profile.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

                <ul>
                  <% @user_profile.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="form-group">
            <%= f.label :avatar, class:"col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.file_field :avatar, placeholder:"头像", class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :nickname, class:"col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :nickname, placeholder:"昵称" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :gender, class:"col-sm-2 control-label" %>
            <div class="col-sm-10">
              <label class="radio-inline">
                <%= f.radio_button :gender,'男',checked:'checked' %>男
              </label>
              <label class="radio-inline">
                <%= f.radio_button :gender,'女' %>女
              </label>
              <label class="radio-inline">
                <%= f.radio_button :gender,'其他' %>其他
              </label>




            </div>
          </div>
          <div class="form-group">
            <%= f.label :location, class:"col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.select :location, options_for_select(UserProfile::LOCATIONS), {}, {class:"form-control"} %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :mobile, class:"col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :mobile, placeholder:"手机号" %>
            </div>
          </div>

          <div class="field" style="display: none;">
            <%= f.label :user %><br />
            <%= f.text_field :user_id, value:current_user.id %>
          </div>
          <div class="form-group" style="display: none;">
            <div class="col-sm-10">
              <%= f.submit '更新用户资料', :class=>'btn btn-info' %>
            </div>
          </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      <%= f.submit '更新用户资料', :class=>'btn btn-info' %>
    </div>
  </div>
      <% end %>
</div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="row" style="display: none">
      <div class="col-md-3 menu-level-2"><a href="#"><span>装修方案</span></a></div>
      <div class="col-md-3 menu-level-2"><a href="#"><span>装修报价单</span></a></div>
      <div class="col-md-3 menu-level-2"><a href="#"><span>我家的工程</span></a></div>
      <div class="col-md-3 menu-level-2"><a href="#"><span>我的帖子</span></a></div>
    </div>
    <div class="row">

      <nav class="navbar navbar-default " role="navigation">
        <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
        <div class="container-fluid">

          <div class="collapse navbar-collapse" style="margin-left: -30px;text-align: center; font-family: 'WenQuanYi Micro Hei'; font-size: x-large">
            <ul class="nav navbar-nav" style="width: 100%">
              <li <%=  (request.fullpath=~ /\/user_admin\/favorites.*/)? 'class="active"'.html_safe():''  %> style="width: 20%"><a href="<%= favorites_path %>"><span>样板房收藏夹</span></a></li>
              <li <%=  (request.fullpath=~ /\/user_admin\/user_orders.*/)? 'class="active"'.html_safe():''  %> style="width: 16%"><a href="<%= user_orders_path %>"><span>我的订单</span></a></li>
              <li <%=  (request.fullpath=~ /\/decorate_schemes.*/)? 'class="active"'.html_safe():''  %> style="width: 16%"><a href="<%= decorate_schemes_path %>"><span>装修方案</span></a></li>
              <li <%=  (request.fullpath=~ /\/user_admin\/old_quotation.*/)? 'class="active"'.html_safe():''  %> style="width: 16%"><a href="<%= old_quotation_path %>"><span>装修报价单</span></a></li>
              <li <%=  (request.fullpath=~ /\/my_projects.*/)? 'class="active"'.html_safe():''  %> style="width: 16%"><a href="<%= my_projects_path %>"><span>我家的工程</span></a></li>
              <li style="width: 16%"><a href="#"><span>我的帖子</span></a></li>
              
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>
    </div>

  </div>
</div>
<!-- End row -->

  <%= yield %>

</div>


<hr>
<footer id="footer-wrapper">

  <!-- Footer Bottom -->
  <div id="footer-bottom" class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="copyright" style="text-align: center">Copyright © <%= DateTime.now.year %>. <%= t("iyijia.site_title") %> All Rights Reserved.</p>
      </div>
    </div>

  </div>
  <!-- End Footer Bottom -->

</footer>

<script src="/js/flexslider/jquery.flexslider.js"></script>
<script src="/js/elastislide/jquery.easing.1.3.js"></script>
<script src="/js/elastislide/jquery.elastislide.js"></script>
<script src="/js/prettyphoto/jquery.prettyPhoto.js"></script>
<script src="/js/swipebox/jquery.swipebox.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.jcarousel.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.selectbox.js"></script>
<script src="/js/jquery.transit.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
